body{
	text-align: center;
}


.wrapper{
	display: inline-block;
	height: 300px;
	width: 900px;
}

#1{
	line-height: 300px;
	font-family: sans-serif;
	font-size: 200px;
	color: black;
	background-color: blue;
	float: left;
	height: 300px;
	width: 300px;
	text-align: center;
}

#2{

	line-height: 300px;
	font-family: sans-serif;
	font-size: 200px;
	color: white;
	background-color: orange;
	float: left;
	height: 300px;
	width: 300px;
	text-align: center;
}

#3{
	line-height: 300px;
	font-family: sans-serif;
	font-size: 200px;
	color: black;
	background-color: blue;
	float: left;
	height: 300px;
	width: 300px;
	text-align: center;
}

#two{
	padding-top: 300px;
	height: 300px;
	width: 900px;
}

#4{

	line-height: 300px;
	font-family: sans-serif;
	font-size: 200px;
	color: black;
	background-color: blue;
	float: left;
	height: 300px;
	width: 300px;
	text-align: center;
}

#5{
	line-height: 300px;
	font-family: sans-serif;
	font-size: 200px;
	color: black;
	background-color: blue;
	float: left;
	height: 300px;
	width: 300px;
	text-align: center;
}

#6{
	line-height: 300px;
	font-family: sans-serif;
	font-size: 200px;
	color: black;
	background-color: blue;
	float: left;
	height: 300px;
	width: 300px;
	text-align: center;
}


#7{
	line-height: 300px;
	font-family: sans-serif;
	font-size: 200px;
	color: black;
	background-color: blue;
	float: left;
	height: 300px;
	width: 300px;
	text-align: center;
}


#8{
	line-height: 300px;
	font-family: sans-serif;
	font-size: 200px;
	color: black;
	background-color: blue;
	float: left;
	height: 300px;
	width: 300px;
	text-align: center;
}

#9{
	line-height: 300px;
	font-family: sans-serif;
	font-size: 200px;
	color: black;
	background-color: blue;
	float: left;
	height: 300px;
	width: 300px;
	text-align: center;
}
