body{
	color: black;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
    background-color: #33FFE9
}

h1 {
	text-decoration: overline;
	font-size: 80px;
	word-spacing: 10px;
}

#wrapper{
	display: inline-block;
	height: 606px;
	width: 606px;
	background-color: #4b717f;
    padding: 25px;
    border: 25x;
    margin: 25px;
}

    

input[type="button"] {
	display: inline-block;
    width: 120px;
    height: 120px;
    font-size: 30px;
    font-family:"Arial Black", Gadget, sans-serif;


}

input[type=button]:hover {
    background-color:#f2f0f0;
}

.button {
    background-color: #f2f0f0;
    border: 1px solid #666;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
	background-color: #4b717f;
}